{%extends 'DjangoAssignments/base.html'%}
{%block body%}
<h1>The top three values in the database are:</h1>
{%if response%}
<div class="table-responsive">
    <table class="table table-hover">   
        <thead class="thead-dark">
            <tr>
                <th>Count</th>
                <th>Server Time</th>
                <th>Location</th>
                <th>Weather</th>
                <th>Description</th>
                <th>Temperature</th>
                <th>Pressure</th>
                <th>Humidity</th>
                <th>Visibility</th>
                <th>Wind Speed</th>
            </tr>
        </thead>
        {%for obj in response%}
        <tr>
            <td>{{obj.count}}</td>
            <td>{{ obj.date|time:"h:i:s A" }}</td>
            <td>{{obj.city}}, {{obj.country}}</td>
            <td>{{obj.weather}}</td>
            <td>{{obj.description}}</td>
            <td>{{obj.temperature}}</td>
            <td>{{obj.pressure}}</td>
            <td>{{obj.humidity}}</td>
            <td>{{obj.visibility}}</td>
            <td>{{obj.wind_speed}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endif%}
{%endblock body%}